<!DOCTYPE html>
<html lang="en" dir="ltr">

      <head>
        <meta charset="utf-8">
        <title>1000_Kernel_weight>
        <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family==Rancho&effect=shadow-multiple' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

		<style>
			.content {
			  max-width: 1000px;
			  margin: auto;
			}
            input[type=checkbox]{
                width: 20px;
            }
        </style>
    </head>

<body>
    <div class="content">
        <h1>1000_Kernel_weight: A universal deep learning architecture for enumering the cereal grains</h1>
        <p style="font-size:70%">The webserver is the implementation of the paper "UniDL4BioPep: A universal deep learning architecture for binary classification in peptide bioactivity"</p>
        <p style="font-size:70%">Notice: For very large dataset processing: please download our model locally or contact us at zhenjiao@ksu.edu or yonghui@ksu.edu for more assistant.  </p>
	<fieldset>
   
        <form action="{{url_for('pred_with_file')}}" method="post" enctype="multipart/form-data">
            <input type="text" name="Kernel weight" placeholder="input the the weight in gram" required="required" />
            <label for="my_image">Choose a file to upload</label>
            <label for="Kernel weight">Input weight</label>
            <input type="file" name="input_image" id="my_file" accept=".jeg,.JPG,.jpeg,.png"/>
            <button type="submit" class="btn btn-outline-primary">Run</button>
        </form>
        <br>
        <p style="color:cyan"> {{ prediction_text }} </p>
        <br>

        <form action="{{ url_for('download_output') }}" method="post" enctype="multipart/form-data">
            <button type="submit">Download Output Image</button>
        <br>


          
	 </div>
  </body>
  </html>
